{% extends "master.twig" %}

{% block title %}Rate products | About{% endblock %}

{% block content %}
    {% include "elements/navbar.twig" with {currentPath: '/about'} %}

    <div class="container mt-5">
    <div class="row">
        <div class="col-md-6 p-5">
            <p>
                This website allows users to easily find the necessary products for their shopping needs
                and then write reviews about their experience to help community to find the best products with best service.
            </p>
        </div>
        <div class="col-md-6 p-5">
            <img src="img/consumer.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    </div>
{% endblock %}