{% extends "master.twig" %}

{% block title %}Rate products | Add new product{% endblock %}

{% block content %}

{% include "elements/navbar.twig" %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-5 p-3">
      <div class="p-3 bg-white shadow-sm border rounded">
        <h3 class="my-3">Add a new product</h3>
        <div>
          <form action="/product/store" method="post" enctype="multipart/form-data">
            {% include "elements/formText.twig" with {name: 'name', required: true} %}
            {% include "elements/formText.twig" with {name: 'price', other: ' (optional)'} %}
            {% include "elements/formText.twig" with {name: 'rating', other: ' (optional)'} %}
            {% include "elements/formTextArea.twig" with {name: 'comment', other: ' (optional)'} %}
            <span class="text-secondary">Image (optional):</span>
              <div class="image-upload mb-3 mt-3">
                <div class="upload-input">
                  <input class="image-input" type="file" name="image" id="form-image">
                </div>
                <div class="upload-showcase" style="background-image: url('/img/img.png');">
                </div>
              </div>
            {% include "elements/csrfToken.twig" %}
            
            <button class="btn btn-primary w-100 submit">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="/dist/addProduct~signup.bundle.js"></script>
    <script src="/dist/addProduct.bundle.js"></script>
{% endblock %}