{% extends "master.twig" %}

{% block content %}
    {% include "elements/navbar.twig" with {currentPath: '/'} %}

    {% if authenticated %}
        <h1>You are authenticated!</h1>
    {% else %}
        <h1>Login to see more!</h1>
    {% endif %}
{% endblock %}