{% extends "master.twig" %}

{% block title %}Rate products | Log in{% endblock %}

{% block content %}
  {% include "elements/navbar.twig" with {currentPath: '/login'} %}

  <div class="container mt-5">
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="p-3">

          <form action="/auth/login" method="post">
            {% include "elements/formText.twig" with {name: 'username'} %}
            {% include "elements/formText.twig" with {name: 'password', type: 'password'} %}
            {% include "elements/csrfToken.twig" %}
            {% include "elements/formCheckBox.twig" with {name: 'Remember me'} %}
            <button class="btn btn-primary w-100">login</button>
          </form>
          

          {% if errors.login is defined %}
            <div class="mt-3">
              <strong class="text-danger">{{ errors.login }}</strong>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}