{% extends "master.twig" %}

{% block title %}Rate products | Log in{% endblock %}

{% block content %}
  {% include "elements/navbar.twig" with {currentPath: '/login'} %}

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8 col-lg-5 p-default">
        <div class="p-default bg-white shadow-sm border-default rounded">
          <form action="/auth/login" method="post">
            {% include "elements/formText.twig" with {name: 'username', required: true} %}
            {% include "elements/formText.twig" with {name: 'password', type: 'password', required: true} %}
            {% include "elements/csrfToken.twig" %}
            {% include "elements/formCheckBox.twig" with {name: 'Remember me', checked: true} %}
            <button class="btn btn-primary w-100">login</button>
          </form>
          {% if errors.login is defined %}
            <div class="mt-3">
              <strong class="text-danger">{{ errors.login }}</strong>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}