{% extends "master.twig" %}

{% block title %} Rate products | {{ product.name }} {% endblock %}

{% block content %}
{% include "elements/navbar.twig" %}

<div class="container p-default">
  <div class="p-default border-default rounded">
  {% if product.id != null %}
  <h1>{{ product.name }}</h1>

<hr>
  {% include "elements/basicStats.twig" with {pageStats: true} %}
  <hr>

  <h3 class="font-weight-light text-secondary">Pictures:</h3>
  {% include "elements/pictureCatalogue.twig" 
  with {pictures: product.pictures, randomPicture: product.randomPicture, userPicture: product.userPicture} %}

  <hr class="border">

  <h3 class="font-weight-light text-secondary">Comments:</h3>
  {% include "elements/comments.twig" %}
  
  {% else %}
    <h2>No such product exists!</h2>
  {% endif %}
  </div>
</div>

{% endblock %}

{% block scripts %}
  <script src="/dist/login~product~signup.bundle.js"></script>
  <script src="/dist/product.bundle.js"></script>
{% endblock %}