{% extends "master.twig" %}

{% block title %} Rate products | {{ product.name }} {% endblock %}

{% block content %}
{% include "elements/navbar.twig" %}

<div class="container">
  <h1>{{ product.name }}</h1>

  {% include "elements/pictureCatalogue.twig" 
    with {pictures: product.pictures, randomPicture: product.randomPicture} %}

</div>

{% endblock %}

{% block scripts %}
  <script src="/dist/product.bundle.js"></script>
{% endblock %}