{% extends "master.twig" %}

{% block title %} Rate products | {{ product.name }} {% endblock %}

{% block content %}
{% include "elements/navbar.twig" %}

<div class="container">
  {% if product.id != null %}
  <h1>{{ product.name }}</h1>

  <h3>Pictures:</h3>
  {% include "elements/pictureCatalogue.twig" 
  with {pictures: product.pictures, randomPicture: product.randomPicture} %}

  <h3>Comments:</h3>
  {% include "elements/comments.twig" %}
  
  {% else %}
    <h2>No such product exists!</h2>
  {% endif %}
</div>

{% endblock %}

{% block scripts %}
  <script src="/dist/login~product~signup.bundle.js"></script>
  <script src="/dist/product.bundle.js"></script>
{% endblock %}