$shadow: 0 0 5px rgba(0, 0, 0, 0.308);
$transitionShadow: box-shadow 0.25s ease-in-out;

$danger: rgb(180, 0, 0);
$primary: #2c3e50;
$light1: white;
$light2: #ccc;
$light3: rgb(236, 236, 236);
$light4: rgb(144, 144, 144);
$dark1: black;
$dark2: rgb(58, 58, 58);
$dark3: rgb(110, 110, 110);