$primary: #324A5F;
$info: #4fc3f7;

@import "../../node_modules/bootstrap/scss/bootstrap";

$lg: map-get($grid-breakpoints, "lg");
$xl: map-get($grid-breakpoints, "xl");
$md: map-get($grid-breakpoints, "md");
$sm: map-get($grid-breakpoints, "sm");
$xs: map-get($grid-breakpoints, "xs");

$dark-overlay: rgba(0, 0, 0, .2);
$light-shadow: 0 0 .5em rgba(0, 0, 0, .2);
$border: $border-color $border-width solid;

.p-default {
  padding: 1em;

  @media only screen and (max-width: $sm) {
    padding: .5em;
  }
}

.border-default {
  border: $border;

  @media screen and (max-width: $sm) {
    border:none;
    border-bottom: $border;
  }
}

@import "./elements/btn";
@import "./elements/input";
@import "./elements/search-popup";
@import "./elements/basic-stats";

@import "./utilities/icon";
@import "./utilities/spinner";
@import "./utilities/scroll";
@import "./utilities/aspect-ratio";
@import "./utilities/light-shadow";
@import "./utilities/separator";
@import "./utilities/triangle";

@import "./components/navbar";
@import "./components/filter";
@import "./components/picture-catalogue";
@import "./components/product-card";
@import "./components/upload";
@import "./components/user-info";
@import "./components/stats";