:root {
    --blue: rgb(72, 170, 254);
    --orange: rgb(247, 154, 53);
    --dark-blue: rgba(21, 33, 54, 0.9);
    --grey: rgb(140, 156, 180);
    --face: rgb(129, 219, 242);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5{
    font-weight: normal;
}
header{
    padding: 20px;
}
header > *{
    margin-bottom: 20px;
}
header > *:last-child{
    margin-bottom: 0;
}
header > nav > .btn{
    display: inline-block;
}
nav{
    width: 100%;
}
nav > .btn-orng{
    float: right;
    margin-left: 20px;
    margin-right: 20px;
}
nav > h1{
    font-size: 30px;
}
body > *{
    margin-bottom: 20px;
}
button{
    background-color: transparent;
    outline: none;
}
.error{
    font-size: 10px;
    color: red;
    padding-bottom: 10px;
}

.btn, .btn-orng{
    text-align: center;
    display: block;
    transition: background-color .2s ease-out;
    padding: 16px 0;
    width: 140px;
    text-transform: uppercase;
    color: var(--blue);
    background-color: transparent;
    border: var(--blue) solid 2px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 30px;
    cursor: pointer;
}
.btn:hover{
    transition: background-color .2s ease-out;
    color: white;
    background-color: var(--blue);
}
.btn-orng{
    background-color: var(--orange);
    border-color: orange;
    color: white;
}
header > h1 > .btn{
    display: inline;
}
.input-field{
    font-size: 14px;
}
.input-field > span{
    color: red;
}
.input-field > label{
    color: var(--grey);
}
input[type=text],input[type=password]{
    border: none;
    border-bottom: 1px solid var(--grey);
    outline: none;
    padding: 3px 0;
    background-color: transparent;
    width: 100%;
    
}
#products{
    width: calc(240px * 3);
    position: relative;
    left: 10%;
}
#products::after{
    content: '';
    display: block;
    clear: both;
}
.product-wrapper{
    padding: 5px;
    float: left;
}
.product{
    height: 500px;
    width: 230px;
    position: relative;
    left: 50%;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.123);
    transform: translate(-50%);
}
.product > *{
    margin-bottom: 10px;
}
.product > form{
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
}
.product > h5 > span:first-of-type{
    color: red;
    position: relative;
    top: 3px;
}
.product > h5 > span:last-of-type{
    font-weight: bold;
}
.product > .btn{
    width: 80%;
}

.product-image{
    background-image: url(images/book.jpg);
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.sku{
    color: var(--grey);
}
.price{
    position: absolute;
    bottom: 0;
    font-weight: bold;
}
.form{
    padding: 20px;
    width: 300px;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.123);
    left: 3%;
}
.form > *{
    margin-bottom: 20px;
}
.form > button{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.disk, .book{
    display: none;
}
@media only screen and (max-width: 1200px){
    #products{
        width: calc(240px * 4);
    }
}
@media only screen and (max-width: 970px){
    #products{
        width: calc(240px * 3);
    }
}
@media only screen and (max-width: 720px){
    #products{
        width: calc(240px * 2);
    }
}
@media screen and (max-width: 500px){
    #products{
        width: 240px;
    }
}


.form, #products{
    float: left;
}

#products{

}




















