.side-filter {
  display: block;
  position: fixed;
  z-index: $zindex-sticky;
  background-color: $white;
  overflow-y: auto;
  height: 95vh;
  @media screen and (max-width: $sm - 1) {
    position: relative;
  }
  .filter-inner {
    height: 100%;
  }
}