$thumbNailPadding: calc(20% / 2 - .25em * 4 / 5);

.picture-catalogue {
  .picture-selector {
    position: relative;
    overflow-y: auto;
    max-height: 14em;
    .selector-thumbnail {
      border-radius: $border-radius;
      cursor: pointer;
      float: left;
      margin-bottom: .5em;
      margin-right: .5em;
      background-position: center;
      background-size: cover;
      padding: $thumbNailPadding;
      &:nth-child(5n) {
        margin-right: 0;
      }
    }
  }

  .picture-main {
    .picture {
      border-radius: $border-radius;
      display: block;
      margin-right: .25em;
      @media screen and (max-width: $md - 1) {
        margin-right: 0;
        margin-bottom: .25em;
      }
      @include aspect-ratio-image(4, 3);

      &.no-image {
        cursor: default;
        &::after {
          display: block;
          color: $secondary;
          content: 'No images as of yet...';
          text-align: center;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 2rem;
        }
      }
    }
    .pic-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .like-controls {
        .btn:focus,.btn:active {
          box-shadow: none;
       }
        & > .thumb-up.active, .thumb-up:hover {
          color: $success;
        }
        & > .thumb-down.active, .thumb-down:hover{
          color: $danger;
        }
      }
    }
  }

  .image-upload {
    display: flex;
    justify-content: space-between;
    .upload-input {
      input {
        max-width: 220px;
        overflow: hidden;
      }
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .upload-showcase {
      border-radius: $border-radius;
      padding: $thumbNailPadding;
      background-image: url('/img/img.png');
      background-position: center;
      background-size: cover;
    }
  }
}