.product-card {
  height: 140%;
  overflow-y: auto;
  .product-thumbnail {
    @include aspect-ratio-image(4, 3);
  }
  .card-body {
    padding: 0;
    padding-top: 1em;
  }
  @media screen and (max-width: $md) {
    border: 0;
    border-bottom: $border;
    padding: .5em;
  }
}