.image-upload {
  display: flex;
  justify-content: space-between;
  .upload-input {
    input {
      max-width: 220px;
      overflow: hidden;
    }
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .upload-showcase {
    position: relative;
    overflow: hidden;
    border-radius: $border-radius;
    padding: 2em;
    img {
      @include transform-center;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}