.user-info {
  border-right: solid $border-color $border-width;
  @media screen and (max-width: $md){
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-right: 0;
    border-bottom: solid $border-color $border-width;
  }
  .avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .pic-container {
      width: 50%;
      .pic {
        box-shadow: 0 0 1px 1px $gray-200 inset, 0 0 1px 1px $gray-200;
        position: relative;
        overflow: hidden;
        @include aspect-ratio-image(1, 1);
      }
    }
  }
}