<div class="row justify-content-start">
  <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 side-filter">
    {% if authenticated %}
        <a href="{{ type|lower }}/create" class="btn btn-lg btn-success w-100">Add {{ type|lower }}</a>
    {% endif %}
  </div>
</div>