<div class="row justify-content-start">
  <div class="p-default col-sm-6 col-md-5 col-lg-4 col-xl-3 side-filter">
  <div class="border-default rounded filter-inner p-default">
    {% if auth %}
      <a href="{{ type|lower }}/create" class="btn btn-lg btn-success w-100">Add {{ type|lower }}</a>
      <hr>
    {% endif %}
    <h3 class="font-weight-light text-secondary">Filter</h3>
  </div>
  </div>
</div>