<div class="row justify-content-start">
  <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 side-filter">
    <button class="btn btn-success w-100">Add Something</button>
    <div class="">
      <div class="p-5 m-1 bg-primary"></div>
      <div class="p-5 m-1 bg-primary"></div>
    </div>
  </div>
</div>