{# Necessary to push content down #}
<div class="dummy-navbar mb-3"></div>

<nav class="navbar-custom shadow">
  <div class="nav-brand">
    <h1>Rate products</h1>
  </div>

  <div class="nav-links">
    {% include "elements/navLink.twig" with {name: 'Products', path: '/'} %}
    {% include "elements/navLink.twig" with {name: 'Shops', path: '/add-product'} %}
    {% include "elements/navLink.twig" with {name: 'About', path: '/about'} %}
  </div>

  {# <div class="nav-forms">
    <div class="nav-search">
      <input type="text">
      <button class="btn btn-primary">Search</button>
    </div>
  </div> #}

  <div class="nav-search px-2">
    <div class="input-field">
      <input type="text" placeholder=" ">
      <span class="material-icons">search</span>
    </div>
  </div>


  <div class="nav-auth-controls">
    {% if authenticated %}
      <button class="btn btn-danger" form="logout-form">Logout</button>
      <form class="d-none" method="post" action="/auth/logout" id="logout-form">
        {% include "elements/csrfToken.twig" %}
      </form>
    {% else %}
      <a href="/auth/login" class="btn btn-primary">Log In</a>
      <a href="/auth/signup" class="btn btn-outline-primary">Sign Up</a>
    {% endif %}
  </div>

  <div class="burger">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <div class="navbar-responsive">
    
  </div>
</nav>