<nav>
    {% include "elements/navElement.twig" with {name: 'Home', path: '/'} %}
    {% include "elements/navElement.twig" with {name: 'Signup', path: '/signup'} %}
    {% include "elements/navElement.twig" with {name: 'Login', path: '/login'} %}
</nav>
<hr>