.basic-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .vote-number {
    color: $gray-500;
  }
  .price {
    color: $info;
  }

  &.--page {
    justify-content: space-around;
    font-size: 1.3em;
  }
}

.stats-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .input-field {
    width: 8em;
    input {
      text-align: center;
    }
  }
}

.save-stats {
  display: flex;
  justify-content: space-around;
  .btn {
    width: 50%;
  }
}