.btn{
    padding: 0.50em 1em;
    margin: 0.50em 0;
    width: 10em;
    background: $light1;
    color: $primary;
    outline: none;
    border: 1px $primary solid;
    transition: $transitionShadow;
    font-size: 1rem;
    &:hover{
        cursor: pointer;
        box-shadow: $shadow;
    }
    &.btn-danger{
        border: 1px $danger solid;
        color: $danger;
    }
}