.input{
    width: 13em;
    input[type=text], select{
        width: inherit;
        display: block;
        outline: none;
        background-color: $light1;
        border: solid $light2 1px;
        margin: 0.5em;
        padding: 0.5em;
        &.error{
            border: solid $danger 1px;
        }
    }
    .input-error{
        width: inherit;
        color: $danger;
        font-size: 0.8rem;
        margin: 0.5em;
    }
}