* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.05rem;
}

.btn {
  padding: 0.50em 1em;
  margin: 0.50em 0;
  width: 10em;
  background: white;
  color: #2c3e50;
  outline: none;
  border: 1px #2c3e50 solid;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  font-size: 1rem;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.308);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.308);
}

.btn.btn-danger {
  border: 1px #b40000 solid;
  color: #b40000;
}

.form {
  position: relative;
  display: inline-block;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.form .type-description {
  float: right;
  width: 15em;
  font-size: 0.8rem;
  margin-top: 0.5em;
  color: #3a3a3a;
  line-height: 1.3rem;
}

.form-row label {
  position: relative;
  top: 0.75em;
}

.form-row > * {
  float: right;
}

.form-row:after {
  content: '';
  display: block;
  clear: both;
}

#products {
  display: inline-block;
  position: relative;
  width: 60em;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media screen and (max-width: 975px) {
  #products {
    width: 45em;
  }
}

@media screen and (max-width: 735px) {
  #products {
    width: 30em;
  }
}

@media screen and (max-width: 540px) {
  #products {
    width: 15em;
  }
}

#products .product {
  position: relative;
  width: 13em;
  height: 17em;
  padding: 1em;
  margin: 1em;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.308);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.308);
  float: left;
}

#products .product .sku {
  color: #909090;
  font-size: 0.9rem;
  margin-bottom: 1em;
}

#products .product p {
  color: #3a3a3a;
}

#products .product span:before {
  content: '-';
  margin-right: 0.5em;
}

#products .product .delete-checkbox {
  margin: 1em;
  position: absolute;
  top: 0;
  left: 0;
}

#products .product h3 {
  margin: 1em 0;
  text-align: center;
}

#products .product .price {
  position: absolute;
  left: 0;
  font-size: 1.2rem;
  margin: 1em;
  font-weight: bold;
  color: #2c3e50;
  bottom: 0;
}

#products:after {
  content: '';
  display: block;
  clear: both;
}

.input {
  width: 13em;
}

.input input[type=text], .input select {
  width: inherit;
  display: block;
  outline: none;
  background-color: white;
  border: solid #ccc 1px;
  margin: 0.5em;
  padding: 0.5em;
}

.input input[type=text].error, .input select.error {
  border: solid #b40000 1px;
}

.input .input-error {
  width: inherit;
  color: #b40000;
  font-size: 0.8rem;
  margin: 0.5em;
}

nav {
  margin: 2rem 0;
  position: relative;
}

nav .nav-items {
  border-bottom: 1px dashed #ccc;
  font-size: 1rem;
  padding: 0 2em;
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

nav .nav-items .nav-item {
  display: inline-block;
  margin: 0 1em;
  color: black;
}

nav .nav-items .nav-item:hover, nav .nav-items .nav-item.active {
  color: #2c3e50;
  text-decoration: underline;
}

nav .nav-items button {
  margin-left: 4em;
}

nav .nav-items a {
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  nav .nav-items .nav-item, nav .nav-items button {
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    margin: 1em;
  }
  nav .nav-items button {
    margin-top: 2em;
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */