.form{
    position: relative;
    display: inline-block;
    @include center-x;
    .type-description{
        float: right;
        width: 15em;
        font-size: 0.8rem;
        margin-top: 0.5em;
        color: $dark2;
        line-height: 1.3rem;
    }
}

.form-row{
    label{
        position: relative;
        top: 0.75em;
    }
    > *{
        float: right;
    }
    &:after{
        @include after-float;
    }
}