.spinner {
  position: relative;
  &::before {
    transition: opacity .2s ease-in-out;
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &::after {
    width: 100%;
    height: 100%;
    z-index: 2;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4em;
    height: 4em;
    border: .5em solid transparent;
    border-top: .5em solid $info;
    border-radius: 50%;
    animation: spin .85s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.spinner-small {
  @extend .spinner;
  &::after {
    width: 2em;
    height: 2em;
    border: .25em solid transparent;
    border-top: .25em solid $info;
  }
}